/* Header styles for Desktop */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Set your desired background color */
  color: white; /* Set text color */
  padding: 20px 40px; /* Adjust padding as needed */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust width of the header content */
  
}

.left a {
  text-decoration: none;
  font-size: 24px; /* Set your desired font size */
  color: white; /* Set link color */
  font-weight: bold; /* Optionally set font weight */
}

.left a:hover {
  color: lightgrey; /* Change link color on hover */
}

.right {
  display: flex;
  justify-content: flex-end; /* Adjusted to align content to the right */
  align-items: center; /* Align items vertically */
  flex: 1; /* Fill remaining space */
}
.right ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.right ul li {
  margin-left: 20px; /* Adjust spacing between list items */
}

.right ul li a {
  text-decoration: none;
  color: white; /* Set link color */
  transition: color 0.3s; /* Add smooth color transition */
  padding: 20px;
  position: relative;

}
.right ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.right ul li a:hover::before {
  background-color: lightgrey; /* Change color to create the underline effect */
  animation: underlineAnimation 0.3s forwards;
}

@keyframes underlineAnimation {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

.right ul li a:hover {
  transform: scale(1.1); /* Increase size on hover */
  transition: transform 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
    height: 11vh;
  }
  .hamburger {
    position: absolute;
    left: 0; /* Move .hamburger to the left side */
     display: flex;
     flex-direction: flex-end;
     height: 10vh;
     align-items: center;
    
  }
  svg{
    font-size: 50px;
  }

  .header-content {
    flex-direction: column;
  }

  .left {
    font-size: 30px;
    width: 100%;
    font-weight: bold; /* You can use "bold" instead of "large" for font-weight */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
  }

  /* Center the "Portfolio" text within the <a> tag */
  .left a {
    text-decoration: none;
    color: #fff !important;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  /* Add a beautiful animation while hovering */
  .left a:hover {
    color: #ff5722;
    transform: scale(1.1); /* Increase size on hover */
    transition: all 0.3s ease;
  }

  .header .left {
    margin-bottom: 20px;
    bottom: 50px;
  }

  .header ul {
    flex-direction: column;
  }

  .header li {
    margin: 10px 0;
  }

  .header li .home {
    font-size: 18px;
  }

  .right {
    display: none;
  }
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }

  /* Display the navigation links on screens with width greater than or equal to 700px */
  .header .right ul.links {
    display: flex;
  }
}   
